# custom edx syslog configuration
#

{% if rsyslog_collector is defined and rsyslog_collector in ansible_all_ipv4_addresses %}
module(load="imudp")
input(type="imudp" port="514")
{% endif %}
{% if rsyslog_collector is defined and rsyslog_collector and not rsyslog_collector in ansible_all_ipv4_addresses %}
*.*  action(type="omfwd" target="{{ rsyslog_collector }}" port="514" protocol="udp"
            action.resumeRetryCount="100"
            queue.type="linkedList" queue.size="10000")
{% endif %}

#  Default rules for rsyslog.
#
#                       For more information see rsyslog.conf(5) and /etc/rsyslog.conf

#
# First some standard log files.  Log by facility.

# don't escape newlines
$EscapeControlCharactersOnReceive off

$SystemLogRateLimitInterval 0
$RepeatedMsgReduction off
$MaxMessageSize 32768

auth,authpriv.*                                         /var/log/auth.log
*.*;auth,authpriv.none,local0.none,local1.none          -/var/log/syslog

# According to the docs for rsyslog, "syslogtag" is the "TAG" from
# the message which in the case of tracking logs is interpreted to
# be everything before the first whitespace character.
# This is why we include "syslogtag."
# Maybe one day this will be answered - http://stackoverflow.com/questions/10449447/how-to-avoid-syslogtag-from-rsyslog-template
$template tracking,"%syslogtag%%msg%\n"

# looks for [service_variant=<name>] in the beginning of the log message,
# if it exists the log will go into {{ COMMON_LOG_DIR }}/<name>/edx.log, otherwise
# it will go into {{ COMMON_LOG_DIR }}/edx.log
$template DynaFile,"{{ COMMON_LOG_DIR }}/%syslogtag:R,ERE,1,BLANK:\[service_variant=([a-zA-Z_-]*)\].*--end%/edx.log"

local0.*                        -?DynaFile
local1.*                        {{ COMMON_LOG_DIR }}/tracking/tracking.log;tracking
#cron.*                         /var/log/cron.log
#daemon.*                       -/var/log/daemon.log
kern.*                          -/var/log/kern.log
#lpr.*                          -/var/log/lpr.log
mail.*                          -/var/log/mail.log
#
# Logging for the mail system.  Split it up so that
# it is easy to write scripts to parse these files.
#
#mail.info                      -/var/log/mail.info
#mail.warn                      -/var/log/mail.warn
mail.err                        /var/log/mail.err

#
# Logging for INN news system.
#
news.crit                       /var/log/news/news.crit
news.err                        /var/log/news/news.err
news.notice                     -/var/log/news/news.notice

#
# Some "catch-all" log files.
#
#*.=debug;\
#       auth,authpriv.none;\
#       news.none;mail.none     -/var/log/debug
#*.=info;*.=notice;*.=warn;\
#       auth,authpriv.none;\
#       cron,daemon.none;\
#       mail,news.none          -/var/log/messages

#
# Emergencies are sent to everybody logged in.
#
*.emerg                                :omusrmsg:*

#
# I like to have messages displayed on the console, but only on a virtual
# console I usually leave idle.
#
#daemon,mail.*;\
#       news.=crit;news.=err;news.=notice;\
#       *.=debug;*.=info;\
#       *.=notice;*.=warn       /dev/tty8
